<template>
  <div class="px-3 auto-filler py-6 grid lg:grid-cols-3 gap-4">
    <div class="lg:col-span-1 col-span-2 rounded bg-gray-100 p-4">
      <h3 class="text-xl font-medium">
        <div class="flex">
          <div class="flex-grow">
            <span class="border-b-2 pb-1 border-bottom border-gray-500">
              All Fields
            </span>
          </div>
          <div class="flex-none">
            <button
              @click.stop="addField()"
              role="button"
              class="focus:outline-none shadow-sm hover:shadow-lg duration-300 transform hover:-translate-y-0.5 transition-all hover:bg-indigo-500 hover:text-white bg-indigo-100 text-indigo-600 px-4 py-3 rounded text-sm font-medium"
            >
              Add Field
            </button>
          </div>
        </div>
      </h3>
      <div class="font-medium bg-white px-4 py-4 rounded mt-7">
        <div class="flex justify-center">
          <div class="flex-grow">
            <label for="has-signature">Include a digital signature</label>
          </div>
          <div class="flex-none">
            <div class="checkbox-container text-sm font-medium">
              <input
                type="checkbox"
                class="like-radio"
                id="has-signature"
                v-model="template.hasSignature"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 bg-white rounded font-medium">
        <div v-if="template && template.fields && template.fields.length > 0">
          <div>
            <template v-for="(b, i) in template.fields">
              <div :key="i" class="block w-full">
                <button
                  @click="addField(i)"
                  role="button"
                  class="focus:outline-none hover:bg-indigo-100 hover:text-indigo-600 transition rounded block font-medium px-4 py-3 w-full text-left"
                >
                  {{ i + 1 }}. {{ b.placeholder }}
                  <span
                    class="float-right rounded-lg bg-gray-100 inline-block text-gray-600 text-xs py-1 px-2"
                  >
                    {{ b.type
                    }}{{
                      b.type == "menu" && b.allowMultiple ? "-multiple" : ""
                    }}
                  </span>
                  <div class="clearfix"></div>
                </button>
              </div>
            </template>
          </div>
        </div>
        <div class="p-4" v-else>You didn't create any fields yet</div>
      </div>
      <div class="font-medium mt-4 px-1">
        <div class="flex items-center justify-center">
          <div class="flex-grow">Or paste a string here</div>
          <div class="flex-none">
            <button
              @click="modals.explanation = true"
              class="duration-300 transform transition-all focus:outline-none shadow-sm hover:shadow-lg hover:-translate-y-0.5 hover:bg-indigo-500 hover:text-white bg-indigo-100 text-indigo-600 rounded-full w-10 h-10 inline-block"
              role="button"
            >
              <span class="font-medium text-lg">?</span>
            </button>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <div>
          <textarea
            rows="4"
            v-model="activeField.stringContent"
            class="hover:border-gray-400 focus:border-indigo-600 outline-none transition w-full block placeholder-gray-600 placeholder-opacity-200 border-2 rounded px-4 py-3"
          ></textarea>
        </div>
        <div class="mt-3 px-1">
          <button
            @click.stop="convertStringToFields()"
            role="button"
            class="font-medium text-sm transform rounded py-2 focus:outline-none text-indigo-600 bg-indigo-100 hover:bg-indigo-200 px-4 transition"
          >
            Convert to fields
          </button>
        </div>
      </div>
    </div>
    <div class="overflow-hidden col-span-2 bg-gray-100 p-4 rounded">
      <h3 class="text-xl font-medium">
        <div class="flex">
          <div class="flex-grow">
            <span
              class="inline-block border-b-2 pb-1 border-bottom border-gray-500"
            >
              Auto Filler Generator
            </span>
          </div>
          <div class="flex-none">
            <!-- <button
              @click.stop="
                template && template.fields && template.fields.length > 0
                  ? downloadJSONTemplate()
                  : () => {}
              "
              role="button"
              :class="`
            sm:ml-0 ml-2 px-4 py-3 rounded text-sm font-medium duration-300 transform transition-all focus:outline-none
            ${
              template &&
              template.fields &&
              template.fields.length > 0 &&
              options.downloadAvailable
                ? 'shadow-sm hover:shadow-lg hover:-translate-y-0.5 hover:bg-indigo-500 hover:text-white bg-indigo-100 text-indigo-600'
                : 'bg-gray-200 text-gray-400 pointer-events-none'
            }
          `"
              :disabled="
                template &&
                template.fields &&
                template.fields.length > 0 &&
                options.downloadAvailable
                  ? false
                  : true
              "
            >
              Save Template
            </button> -->
            <div class="relative mt-1 block w-full text-left">
              <button
                @click.stop="
                  template && template.fields && template.fields.length > 0
                    ? (options.downloadAvailable = !options.downloadAvailable)
                    : () => {}
                "
                :aria-expanded="options.downloadAvailable ? 'true' : 'false'"
                aria-haspopup="true"
                :class="`
                      sm:ml-0 ml-2 px-4 py-3 rounded text-sm font-medium duration-300 transform transition-all focus:outline-none
                      ${
                        template &&
                        template.fields &&
                        template.fields.length > 0
                          ? 'shadow-sm bg-indigo-100 text-indigo-600 hover:bg-indigo-200'
                          : 'bg-gray-200 text-gray-400 pointer-events-none'
                      }
                    `"
              >
                <span class="mr-3">Save</span>
                <hero-icon
                  width="15px"
                  height="12px"
                  :icon="
                    options.downloadAvailable ? 'chevronUp' : 'chevronDown'
                  "
                ></hero-icon>
              </button>
              <div
                v-show="options.downloadAvailable"
                :class="`
                      menu-body z-10 origin-top-right absolute
                      center-vertical-right
                      mt-2 w-80 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none
                    `"
              >
                <div role="none" class="block w-full">
                  <div
                    class="block w-full"
                    role="menu"
                    aria-orientation="vertical"
                    aria-labelledby="options-menu"
                  >
                    <div class="py-1 block w-full" role="none">
                      <template v-for="(btn, i) in options.downloadBtns">
                        <button
                          @click="runMethod(btn.method)"
                          :key="i"
                          :class="`
                              rounded
                              focus:outline-none text-left transition block px-4 font-medium w-full py-3 text-sm 
                              text-gray-700
                              hover:shadow-lg hover:-translate-y-0.5 hover:bg-indigo-500 hover:text-white
                            `"
                          role="menuitem"
                        >
                          <hero-icon
                            class="mr-3"
                            height="13px"
                            :icon="btn.icon"
                          ></hero-icon>
                          {{ btn.text }}
                        </button>
                      </template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </h3>
      <div class="bg-white mt-7 p-4 rounded font-medium leading-8">
        <div>
          <div v-if="template && template.fields && template.fields.length > 0">
            <template v-for="(b, i) in template.fields">
              <span :key="i">
                <vue-typed-js
                  v-if="b.showBefore && options.useTyping"
                  @onComplete="stepForward(i, b, 'before')"
                  class=""
                  v-bind="typedParams"
                  :strings="[b.textBefore]"
                >
                  <span class="typing"></span>
                </vue-typed-js>
                <span v-if="!options.useTyping">
                  {{ b.textBefore }}
                </span>
                <!-- Begin Auto-Complete Component -->
                <div class="relative mx-1 inline-block w-auto text-left">
                  <button
                    :ref="`btn_options_${i}`"
                    v-if="b.showInput || !options.useTyping"
                    @click.stop="openOptionsMenu(i, b)"
                    :aria-expanded="b.menuOpened ? 'true' : 'false'"
                    aria-haspopup="true"
                    :class="`
                      w-auto focus:outline-none border-b-2
                      ${
                        (b.allowMultiple &&
                          Array.isArray(b.value) &&
                          b.value.length > 0) ||
                        (!b.allowMultiple && b.value)
                          ? 'font-bold text-gray-900 border-gray-800'
                          : 'font-medium text-gray-500 border-gray-400'
                      }
                    `"
                  >
                    <span v-if="b.value || !options.useTyping">
                      {{
                        b.type == "menu" &&
                        b.allowMultiple &&
                        Array.isArray(b.value)
                          ? b.value.length > 0
                            ? b.value.join(", ")
                            : b.placeholder
                          : b.value
                          ? b.type == "signature"
                            ? "Signature Ok"
                            : b.value
                          : b.placeholder
                      }}
                    </span>
                    <vue-typed-js
                      v-else
                      @onComplete="stepForward(i, b, 'input')"
                      class="mr-1"
                      v-bind="typedParams"
                      :strings="[b.placeholder]"
                    >
                      <span class="typing"></span>
                    </vue-typed-js>
                  </button>
                  <div
                    v-show="b.menuOpened"
                    :class="`
                      menu-body z-10 origin-top-left absolute 
                      mt-2 w-80 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none
                    `"
                  >
                    <div role="none" class="block w-full">
                      <div v-if="['text', 'menu'].includes(b.type)">
                        <div class="px-4 py-3">
                          <input
                            :type="
                              b.fieldType == 'date'
                                ? 'date'
                                : b.fieldType == 'phone'
                                ? 'number'
                                : 'text'
                            "
                            @keypress.enter="
                              b.type == 'text'
                                ? selectOption(b.tempValue, b, i, false)
                                : () => {}
                            "
                            v-model="b.tempValue"
                            class="menu-search transition focus:outline-none block w-full hover:border-gray-400 focus:border-indigo-500 px-2 py-2 border-2 border-gray-200 rounded"
                            placeholder="Type here"
                          />
                        </div>
                        <div
                          v-if="b.type == 'menu'"
                          class="block w-full menu-items-container mb-2"
                          role="menu"
                          aria-orientation="vertical"
                          aria-labelledby="options-menu"
                        >
                          <div class="py-1 block w-full" role="none">
                            <template v-for="(o, oi) in b.menuOptions">
                              <button
                                @click="
                                  selectOption(
                                    o,
                                    b,
                                    i,
                                    b.allowMultiple ? false : true
                                  )
                                "
                                v-if="
                                  b.tempValue
                                    ? o
                                        .toLowerCase()
                                        .includes(b.tempValue.toLowerCase())
                                    : true
                                "
                                :key="oi"
                                :class="`
                              focus:outline-none text-left transition block px-4 font-medium w-full py-2 text-sm 
                              ${
                                (b.allowMultiple &&
                                  Array.isArray(b.value) &&
                                  b.value.includes(o)) ||
                                (!b.allowMultiple && o == b.value)
                                  ? 'text-indigo-600 bg-indigo-100 hover:bg-indigo-200'
                                  : 'text-gray-700 hover:bg-gray-100 hover:text-gray-900'
                              }
                            `"
                                role="menuitem"
                              >
                                {{ o }}
                                <span class="float-right font-bold">
                                  <span
                                    v-if="
                                      (b.allowMultiple &&
                                        Array.isArray(b.value) &&
                                        b.value.includes(o)) ||
                                      (!b.allowMultiple && o == b.value)
                                    "
                                    >&check;</span
                                  >
                                </span>
                                <div class="clearfix"></div>
                              </button>
                            </template>
                          </div>
                        </div>
                      </div>
                      <div class="mt-1 mb-3 px-4" v-if="b.error">
                        <div
                          class="bg-red-100 border border-red-400 text-red-700 px-3 py-2 rounded relative"
                          role="alert"
                        >
                          <span class="block">
                            {{ b.error }}
                          </span>
                        </div>
                      </div>
                      <div
                        v-if="
                          b.type == 'text' ||
                          (b.type == 'menu' && b.allowMultiple)
                        "
                        class="px-4 py-3 bg-gray-100 text-right"
                      >
                        <button
                          @click="
                            selectOption(
                              b.type == 'menu' && b.allowMultiple
                                ? 'tmp'
                                : b.tempValue,
                              b,
                              i,
                              b.type == 'menu' && b.allowMultiple
                            )
                          "
                          class="px-4 py-2 rounded font-medium text-sm text-center focus:outline-none bg-indigo-100 text-indigo-600 hover:bg-indigo-500 hover:text-white transition"
                        >
                          Save
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ../End: Auto-Complete Component -->
                <vue-typed-js
                  v-if="b.showAfter && options.useTyping"
                  @onComplete="stepForward(i, b, 'after')"
                  class="mr-1"
                  v-bind="typedParams"
                  :strings="[b.textAfter]"
                >
                  <span class="typing"></span>
                </vue-typed-js>
                <span v-if="!options.useTyping">
                  {{ b.textAfter }}
                </span>
              </span>
            </template>
            <div class="px-3" v-if="template.hasSignature">
              <div class="mt-5 mb-3">
                <hr />
              </div>
              <div class="mb-3">
                <h5 class="text-lg font-medium text-gray-900">
                  Your Signature
                </h5>
              </div>
              <div
                class="font-medium border-2 border-gray-300 rounded text-gray-600"
                @click="saveSignature()"
              >
                <vue-signature
                  :disabled="false"
                  w="100%"
                  h="300px"
                  ref="signature_pad"
                  :sigOption="signatureOptions"
                ></vue-signature>
              </div>
              <div class="bg-gray-50 px-4 py-3 flex">
                <div class="flex-grow">
                  <!--  -->
                </div>
                <div class="flex-none">
                  <button
                    type="button"
                    @click.stop="clearSignature()"
                    class="border border-red-300 px-4 mt-3 sm:mt-0 transition w-full justify-center rounded-md py-2 text-base font-medium hover:text-red-600 text-red-400 focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                  >
                    <!-- <hero-icon width="16px" class="mr-1" icon="x"></hero-icon> -->
                    Clear
                  </button>
                  <button
                    type="button"
                    @click.stop="undoSignature()"
                    class="border border-gray-300 px-4 mt-3 sm:mt-0 transition w-full justify-center rounded-md py-2 text-base font-medium hover:text-gray-800 text-gray-600 focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                  >
                    <!-- <hero-icon
                      width="16px"
                      class="mr-1"
                      icon="reply"
                    ></hero-icon> -->
                    Undo
                  </button>
                </div>
                <div class="flex-grow">
                  <!--  -->
                </div>
              </div>
            </div>
          </div>
          <div v-else>Preview will apear here when you create fields</div>
        </div>
      </div>
      <div
        v-if="template && template.fields && template.fields.length > 0"
        class="mt-4 px-3"
      >
        <div class="checkbox-container text-sm font-medium mb-3">
          <input type="checkbox" id="use-typing" v-model="options.useTyping" />
          <label for="use-typing">
            <div
              class="checkbox transition inline-block border-2 border-gray-300 rounded-xl w-4 h-4 active:bg-indigo-500"
            ></div>
            <div class="inline-block ml-2">Show preview with animation</div>
          </label>
        </div>
        <div>
          <button
            @click="rePreview()"
            role="button"
            class="focus:outline-none hover:bg-indigo-200 transition px-4 py-2 font-medium text-sm bg-indigo-100 rounded text-indigo-600"
          >
            Restart Preview
          </button>
        </div>
      </div>
      <div class="bg-white rounded p-4 mt-5">
        <div class="font-medium">JSON Preview</div>
        <div class="checkbox-container text-sm font-medium my-3">
          <input
            type="checkbox"
            id="use-arr-of-objects"
            v-model="options.useArrOfObjects"
          />
          <label for="use-arr-of-objects">
            <div
              class="checkbox transition inline-block border-2 border-gray-300 rounded-xl w-4 h-4 active:bg-indigo-500"
            ></div>
            <div class="inline-block ml-2">
              Save all object keys ( Check this if the backend developer prefers
              it )
            </div>
          </label>
        </div>
        <hr class="my-3" />
        <div>
          <pre class="pre">{{
            options.useArrOfObjects ? template : fieldsArr
          }}</pre>
        </div>
      </div>
    </div>
    <!-- End: Final result -->
    <!-- Explain ContentString Modal -->
    <div
      v-show="modals.explanation"
      class="transition fixed z-10 inset-0 overflow-y-auto"
    >
      <div
        class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
      >
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
          <div class="absolute inset-0 bg-gray-500 opacity-30"></div>
        </div>
        <span
          class="hidden sm:inline-block sm:align-middle sm:h-screen"
          aria-hidden="true"
          >&#8203;</span
        >
        <div
          class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-xl w-full"
          role="dialog"
          aria-modal="true"
        >
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="w-full mt-3 sm:mt-0 md:mx-3 text-left">
                <h3 class="text-xl leading-6 font-medium text-gray-900">
                  Using String Converted
                  <button
                    @click.stop="closeModal('explanation')"
                    class="text-sm float-right font-medium focus:outline-none transition"
                  >
                    <svg
                      class="fill-current h-6 w-6 text-gray-500 hover:text-red-500"
                      role="button"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                    >
                      <title>Close</title>
                      <path
                        d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
                      />
                    </svg>
                  </button>
                  <div class="clearfix"></div>
                </h3>
                <div class="mt-6 font-medium text-gray-600">
                  <div>
                    You can use a custom formatted text to generate fields, Let
                    me explain it with examples.
                  </div>
                  <hr class="my-3" />
                  <div>
                    <pre
                      class="px-1 inline-block bg-indigo-100 text-indigo-600"
                    >
I'm here for [<span class="bg-red-100 text-red-600">text</span>: Job]</pre>
                  </div>
                  <div>
                    The above text generates a block with a text before the
                    input field contains
                    <pre
                      class="px-1 inline-block bg-indigo-100 text-indigo-600"
                    >
I'm here for</pre
                    >
                    , and a text field has a placeholder contains
                    <pre
                      class="px-1 inline-block bg-indigo-100 text-indigo-600"
                    >
Job</pre
                    >
                  </div>
                  <hr class="my-3" />
                  <div>
                    <pre
                      class="px-1 inline-block bg-indigo-100 text-indigo-600"
                    >
I'm a [<span class="bg-red-100 text-red-600">menu</span>: Team Member, Player, Hobbiest]</pre>
                  </div>
                  <div>
                    The above text generates a field with a text before the
                    input field contains
                    <pre
                      class="px-1 inline-block bg-indigo-100 text-indigo-600"
                    >
I'm a</pre
                    >
                    , and a select menu field has a placeholder contains
                    <pre
                      class="px-1 inline-block bg-indigo-100 text-indigo-600"
                    >
Select one</pre
                    >
                    includes 3 options to select from
                    <pre
                      class="px-1 inline-block bg-indigo-100 text-indigo-600"
                    >
Team Member</pre
                    >
                    ,
                    <pre
                      class="px-1 inline-block bg-indigo-100 text-indigo-600"
                    >
Player</pre
                    >
                    and
                    <pre
                      class="px-1 inline-block bg-indigo-100 text-indigo-600"
                    >
Hobbiest</pre
                    >
                  </div>
                  <hr class="my-3" />
                  <div>
                    <pre
                      class="px-1 inline-block bg-indigo-100 text-indigo-600"
                    >
I work on the [<span class="bg-red-100 text-red-600">menu-multi</span>: Management, Operation, HR] team</pre>
                  </div>
                  <div>
                    The above text generates a field with a text before the
                    input field contains
                    <pre
                      class="px-1 inline-block bg-indigo-100 text-indigo-600"
                    >
I work on the</pre
                    >
                    and a text after the input field contains
                    <pre
                      class="px-1 inline-block bg-indigo-100 text-indigo-600"
                    >
team</pre
                    >
                    , and in-between there is a multi-select menu field has a
                    placeholder contains
                    <pre
                      class="px-1 inline-block bg-indigo-100 text-indigo-600"
                    >
Select one or more</pre
                    >
                    includes 3 options to select from
                    <pre
                      class="px-1 inline-block bg-indigo-100 text-indigo-600"
                    >
Management</pre
                    >
                    ,
                    <pre
                      class="px-1 inline-block bg-indigo-100 text-indigo-600"
                    >
Operation</pre
                    >
                    and
                    <pre
                      class="px-1 inline-block bg-indigo-100 text-indigo-600"
                    >
HR</pre
                    >
                  </div>
                  <hr class="my-3" />
                  <div>
                    <pre
                      class="px-1 inline-block bg-indigo-100 text-indigo-600"
                    >
[<span class="bg-red-100 text-red-600">signature</span>]</pre>
                  </div>
                  <div>
                    The above text generates a signature field below all other
                    fields. There can only be one signature field for each
                    template.
                  </div>
                  <hr class="my-3" />
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:px-6 md:px-8 sm:flex">
            <div class="sm:flex-grow">
              <!--  -->
            </div>
            <div class="sm:flex-none">
              <button
                type="button"
                @click.stop="closeModal('explanation')"
                class="mt-3 sm:mt-0 transition w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-6 py-3 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ../End: Explanation -->
    <!-- Add / Update Fields Modal -->
    <div
      v-show="modals.options"
      class="transition fixed z-10 inset-0 overflow-y-auto"
    >
      <div
        class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
      >
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
          <div class="absolute inset-0 bg-gray-500 opacity-30"></div>
        </div>
        <span
          class="hidden sm:inline-block sm:align-middle sm:h-screen"
          aria-hidden="true"
          >&#8203;</span
        >
        <div
          class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg w-full"
          role="dialog"
          aria-modal="true"
        >
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="w-full mt-3 sm:mt-0 md:mx-3 text-left">
                <h3 class="text-xl leading-6 font-medium text-gray-900">
                  {{
                    activeField.inEdit || activeField.inEdit === 0
                      ? "Update"
                      : "Add"
                  }}
                  Field
                  <button
                    @click.stop="closeModal()"
                    class="text-sm float-right font-medium focus:outline-none transition"
                  >
                    <svg
                      class="fill-current h-6 w-6 text-gray-500 hover:text-red-500"
                      role="button"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                    >
                      <title>Close</title>
                      <path
                        d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
                      />
                    </svg>
                  </button>
                  <div class="clearfix"></div>
                </h3>
                <div class="mt-6">
                  <template v-for="(f, i) in activeField.fields">
                    <!-- disabled-field [To disable a field with conditions] -->
                    <div :key="i" :class="`mb-4 text-gray-800 font-medium`">
                      <div>
                        <div class="mx-1 mb-1">
                          <label :for="`text_${f.type}_${i}`">{{
                            f.label
                          }}</label>
                        </div>
                        <div v-if="f.type == 'text'">
                          <input
                            v-model="activeField.data[f.model]"
                            :id="`text_${f.type}_${i}`"
                            class="hover:border-gray-400 focus:border-indigo-600 outline-none transition w-full block placeholder-gray-600 placeholder-opacity-200 border-2 rounded px-3 py-3"
                            :placeholder="f.placeholder"
                          />
                        </div>
                        <div v-else-if="f.type == 'radio'" class="mt-5">
                          <template v-for="(r, ri) in f.radios">
                            <div :key="ri" class="inline-block">
                              <input
                                :id="`radio_${r.value}_${ri}`"
                                :value="r.value"
                                type="radio"
                                v-model="activeField.data[f.model]"
                              />
                              <label
                                class="transition hover:border-gray-400 border-2 px-5 py-3 rounded mr-1"
                                :for="`radio_${r.value}_${ri}`"
                              >
                                <div
                                  class="checkbox transition inline-block border-2 border-gray-300 rounded-xl w-4 h-4 active:bg-indigo-500"
                                ></div>
                                <div class="inline-block ml-2">
                                  {{ r.text }}
                                </div>
                              </label>
                            </div>
                          </template>
                        </div>
                        <!-- Begin Select Type -->
                        <div
                          v-else-if="f.type == 'select'"
                          class="relative mt-1 block w-full text-left"
                        >
                          <button
                            :ref="`select_field_${i}`"
                            @click.stop="openSelectField(f)"
                            :aria-expanded="f.menuOpened ? 'true' : 'false'"
                            aria-haspopup="true"
                            :class="`
                      text-left
                      outline-none rounded px-3 py-3
                      border-2 transition w-full block
                      focus:outline-none focus:border-indigo-600
                      hover:border-gray-400
                      border-gray-200
                      ${
                        activeField.data[f.model]
                          ? 'font-medium text-gray-900'
                          : 'text-gray-500'
                      }
                    `"
                          >
                            <div class="flex justify-between">
                              <div>
                                <div
                                  v-if="
                                    activeField.data[f.model] &&
                                    f.options.find(
                                      (o) =>
                                        o.value == activeField.data[f.model]
                                    )
                                  "
                                >
                                  <hero-icon
                                    class="mr-3"
                                    height="15px"
                                    width="18px"
                                    :icon="
                                      f.options.find(
                                        (o) =>
                                          o.value == activeField.data[f.model]
                                      ).icon
                                    "
                                  ></hero-icon>
                                  {{
                                    f.options.find(
                                      (o) =>
                                        o.value == activeField.data[f.model]
                                    ).text
                                  }}
                                </div>
                                <div v-else>
                                  {{ f.placeholder }}
                                </div>
                              </div>
                              <div>
                                <hero-icon
                                  :icon="
                                    f.menuOpened ? 'chevronUp' : 'chevronDown'
                                  "
                                ></hero-icon>
                              </div>
                            </div>
                          </button>
                          <div
                            v-show="f.menuOpened"
                            :class="`
                      menu-body z-10 origin-top-left absolute 
                      mt-2 w-80 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none
                    `"
                          >
                            <div role="none" class="block w-full">
                              <div
                                class="block w-full menu-items-container mb-2"
                                role="menu"
                                aria-orientation="vertical"
                                aria-labelledby="options-menu"
                              >
                                <div class="py-1 block w-full" role="none">
                                  <template v-for="(o, oi) in f.options">
                                    <button
                                      @click="selectFieldOption(f, o)"
                                      :key="oi"
                                      :class="`
                              focus:outline-none text-left transition block px-4 font-medium w-full py-3 text-sm 
                              ${
                                activeField.data[f.model] == o.value
                                  ? 'text-indigo-600 bg-indigo-100 hover:bg-indigo-200'
                                  : 'text-gray-700 hover:bg-gray-100 hover:text-gray-900'
                              }
                            `"
                                      role="menuitem"
                                    >
                                      <hero-icon
                                        class="mr-3"
                                        height="13px"
                                        :icon="o.icon"
                                      ></hero-icon>
                                      {{ o.text }}
                                      <span class="float-right font-bold">
                                        <span
                                          v-if="
                                            activeField.data[f.model] == o.value
                                          "
                                          >&check;</span
                                        >
                                      </span>
                                      <div class="clearfix"></div>
                                    </button>
                                  </template>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- ../End: Select Type -->
                      </div>
                    </div>
                  </template>
                  <div
                    v-if="activeField.data.type == 'menu'"
                    class="mt-7 mb-4 text-gray-800 font-medium"
                  >
                    <div>
                      <div class="mx-1 mb-4">
                        <label> Menu Options </label>
                        <button
                          @click.stop="addMenuOption()"
                          role="button"
                          class="font-medium transform rounded float-right py-1 focus:outline-none text-indigo-600 bg-indigo-100 hover:bg-indigo-200 px-2 transition"
                        >
                          <small>Add Option</small>
                        </button>
                        <div class="clearfix"></div>
                      </div>
                      <!-- <div
                        class="checkbox-container text-sm font-medium mb-3 px-2"
                      >
                        <input
                          type="checkbox"
                          id="allow-multiple"
                          v-model="activeField.data.allowMultiple"
                        />
                        <label for="allow-multiple">
                          <div
                            class="checkbox transition inline-block border-2 border-gray-300 rounded-xl w-4 h-4 active:bg-indigo-500"
                          ></div>
                          <div class="inline-block ml-2">
                            Allow multiple selects
                          </div>
                        </label>
                      </div> -->
                      <div>
                        <template
                          v-for="(o, i) in activeField.data.menuOptions"
                        >
                          <div class="relative mb-1" :key="i">
                            <input
                              class="hover:border-gray-400 focus:border-indigo-600 outline-none transition w-full block placeholder-gray-600 placeholder-opacity-200 border-2 rounded px-3 py-3"
                              placeholder="Option"
                              v-model="activeField.data.menuOptions[i]"
                            />
                            <div
                              v-if="activeField.data.menuOptions.length > 2"
                              class="absolute center-right-absolute z-20"
                            >
                              <button
                                @click="deleteMenuOption(i)"
                                role="button"
                                class="focus:outline-none text-red-500 text-sm font-medium"
                              >
                                Delete
                              </button>
                            </div>
                          </div>
                        </template>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-8" v-if="errorMsg">
                  <div
                    class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
                    role="alert"
                  >
                    <strong class="font-bold">Error: </strong>
                    <span class="block sm:inline">
                      {{ errorMsg }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:px-6 md:px-8 sm:flex">
            <div class="sm:flex-grow">
              <button
                v-if="activeField.inEdit || activeField.inEdit === 0"
                type="button"
                @click.stop="deleteBlock()"
                class="mt-3 sm:mt-0 transition w-full inline-flex justify-center rounded-md py-3 text-base font-medium hover:text-red-600 text-red-400 focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
              >
                Delete Field
              </button>
            </div>
            <div class="sm:flex-none">
              <button
                type="button"
                @click.stop="closeModal()"
                class="mt-3 sm:mt-0 transition w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-6 py-3 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
              >
                Cancel
              </button>
              <button
                type="button"
                @click.stop="saveBlock()"
                class="mt-3 sm:mt-0 w-full transition inline-flex justify-center rounded-md border border-transparent shadow-sm px-6 py-3 bg-indigo-600 text-lg font-medium text-white hover:bg-indigo-700 focus:outline-none sm:w-auto sm:ml-3 sm:text-sm"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End: Modal -->
  </div>
</template>

<script>
/* eslint-disable no-useless-escape */
import exportStart from "@/assets/auto-filler-component/start.txt";
import exportEnd from "@/assets/auto-filler-component/end.txt";
export default {
  name: "Home",
  components: {
    VueSignature: () => import("vue-signature"),
    HeroIcon: () => import("@/components/hero-icon.vue"),
  },
  mounted() {
    this.setDocumentClickHandler();
    this.stepForward(true, true, "start");
  },
  watch: {
    "options.useTyping"(v) {
      if (v == true) {
        this.rePreview();
      }
    },
  },
  computed: {
    fieldsArr() {
      let { hasSignature, signature, fields } = this.template,
        arr = fields.map((b) => b.value),
        obj = {
          hasSignature,
          signature,
          fields: arr,
        };
      return obj;
    },
  },
  data: () => ({
    options: {
      downloadAvailable: false,
      useTyping: false,
      useArrOfObjects: false,
      downloadBtns: [
        {
          text: "JSON Template",
          icon: "",
          method: "downloadJSONTemplate",
        },
        {
          text: "Vue Component",
          icon: "",
          method: "downloadVueComponent",
        },
      ],
    },
    signatureOptions: {
      penColor: "#000",
    },
    typedParams: {
      class: "inline-block",
      "show-cursor": false,
      "fade-out": true,
      loop: false,
      "type-speed": 30,
    },
    errorMsg: "",
    modals: {
      options: false,
      explanation: false,
    },
    template: {
      hasSignature: false,
      signature: "",
      fields: [
        {
          textBefore: "My name is",
          textAfter: ".",
          placeholder: "Your name",
          type: "text",
          fieldType: "fullname",
          menuOptions: ["", ""],
          allowMultiple: false,
          value: "",
          tempValue: "",
          menuOpened: false,
          showBefore: false,
          showAfter: false,
          showInput: false,
          error: "",
        },
        {
          textBefore: "I was born in",
          textAfter: ",",
          placeholder: "Your birthdate",
          type: "text",
          fieldType: "date",
          menuOptions: ["", ""],
          allowMultiple: false,
          value: "",
          tempValue: "",
          menuOpened: false,
          showBefore: false,
          showAfter: false,
          showInput: false,
          error: "",
        },
        {
          textBefore: "and I use",
          textAfter: "as my primary phone number.",
          placeholder: "Phone Number",
          type: "text",
          fieldType: "phone",
          menuOptions: ["", ""],
          allowMultiple: false,
          value: "",
          tempValue: "",
          menuOpened: false,
          showBefore: false,
          showAfter: false,
          showInput: false,
          error: "",
        },
        {
          textBefore: "and I'm here for",
          textAfter: ".",
          placeholder: "Choose main thing",
          type: "menu",
          fieldType: "menu",
          menuOptions: ["Work", "Business", "Personal"],
          allowMultiple: false,
          value: "",
          tempValue: "",
          menuOpened: false,
          showBefore: false,
          showAfter: false,
          showInput: false,
          error: "",
        },
        {
          textBefore: "My fav hobby is",
          textAfter: ",",
          placeholder: "Select one or more",
          type: "menu",
          fieldType: "menu-multi",
          menuOptions: [
            "Football",
            "Basketball",
            "Vollyball",
            "Computer Science",
            "Networking",
            "Accounting",
            "Blood Donating",
            "Playstation Games",
            "Watching Movies",
            "Creating Toys",
          ],
          allowMultiple: true,
          value: "",
          tempValue: "",
          menuOpened: false,
          showBefore: false,
          showAfter: false,
          showInput: false,
          error: "",
        },
        {
          textBefore: "and I will use",
          textAfter: "as email address.",
          placeholder: "Your email",
          type: "text",
          fieldType: "email",
          menuOptions: ["", ""],
          allowMultiple: false,
          value: "",
          tempValue: "",
          menuOpened: false,
          showBefore: false,
          showAfter: false,
          showInput: false,
          error: "",
        },
        {
          textBefore: "I would prefer to join the",
          textAfter: "team.",
          placeholder: "Pick one",
          type: "menu",
          fieldType: "menu",
          menuOptions: ["Front End", "Back End", "Full Stack"],
          allowMultiple: false,
          value: "",
          tempValue: "",
          menuOpened: false,
          showBefore: false,
          showAfter: false,
          showInput: false,
          error: "",
        },
      ],
    },
    activeField: {
      inEdit: null,
      stringContent:
        "I'm here for [text: Job] I'm a [menu: Team Member, Player, Hobbiest] on the [menu-multi: Management, Operation, HR] team , and I work with [menu: Only Me, 2-4, 5-10, 8-12] team members.[signature]",
      dataBackup: {
        textBefore: "",
        textAfter: "",
        placeholder: "",
        type: "",
        fieldType: "",
        menuOptions: ["", ""],
        allowMultiple: false,
        value: "",
        tempValue: "",
        menuOpened: false,
        showBefore: false,
        showAfter: false,
        showInput: false,
        error: "",
      },
      data: {
        textBefore: "",
        textAfter: "",
        placeholder: "",
        type: "",
        fieldType: "",
        menuOptions: ["", ""],
        allowMultiple: false,
        value: "",
        tempValue: "",
        menuOpened: false,
        showBefore: false,
        showAfter: false,
        showInput: false,
        error: "",
      },
      fields: [
        {
          label: "Field type",
          placeholder: "Select a field type",
          type: "select",
          model: "fieldType",
          menuOpened: false,
          options: [
            {
              text: "Full name",
              icon: "user",
              value: "fullname",
              type: "text",
            },
            {
              text: "Email",
              icon: "mail",
              value: "email",
              type: "text",
            },
            {
              text: "Date",
              icon: "clock",
              value: "date",
              type: "text",
            },
            {
              text: "Address",
              icon: "locationMarker",
              value: "address",
              type: "text",
            },
            {
              text: "Phone",
              icon: "phone",
              value: "number",
              type: "text",
            },
            // {
            //   text: "Digital Signature",
            //   value: "signature",
            //   icon: "fingerPrint",
            //   type: "signature",
            // },
            {
              text: "Menu ( Single item select )",
              value: "menu",
              icon: "menu",
              type: "menu",
            },
            {
              text: "Menu ( Multiple items select )",
              value: "menu-multi",
              allowMultiple: true,
              icon: "menuAlt1",
              type: "menu",
            },
            {
              text: "Other ( Text Field )",
              value: "text",
              icon: "pencil",
              type: "text",
            },
          ],
        },
        {
          label: "Text before",
          placeholder: "eg: I'm here for",
          type: "text",
          model: "textBefore",
        },
        {
          label: "Text after",
          placeholder: "eg: .",
          type: "text",
          model: "textAfter",
        },
        {
          label: "The placeholder",
          placeholder: "eg: Choose main thing",
          type: "text",
          model: "placeholder",
        },
        // {
        //   label: "Input type",
        //   type: "radio",
        //   model: "type",
        //   radios: [
        //     {
        //       text: "Text",
        //       value: "text",
        //     },
        //     {
        //       text: "Menu",
        //       value: "menu",
        //     },
        //   ],
        // },
      ],
    },
  }),
  methods: {
    runMethod(method) {
      if (this[method]) {
        this[method]();
      }
    },
    saveSignature() {
      const signature = this.$refs.signature_pad;
      if (signature) {
        // const png = signature[0].save();
        const jpeg = signature.save("image/jpeg"); // Less size
        // const svg = signature[0].save("image/svg+xml");
        this.template.signature = signature.isEmpty() ? "" : jpeg;
      }
    },
    clearSignature() {
      const signature = this.$refs.signature_pad;
      if (signature) {
        signature.clear();
        this.saveSignature();
      }
    },
    undoSignature() {
      const signature = this.$refs.signature_pad;
      if (signature) {
        signature.undo();
        this.saveSignature();
      }
    },
    convertStringToFields() {
      let str = this.activeField.stringContent;
      if (str && str.includes("]")) {
        let fields = str.split("]"),
          fixedFields = [],
          others = [];
        fields.forEach((field) => {
          if (field.includes("[")) {
            let splitBlock = field.split("["),
              textBefore = splitBlock[0].trim(),
              input = splitBlock[1].trim(),
              inputSplit = input.split(":"),
              inputType = inputSplit[0].trim(),
              inputValues = inputSplit[1] ? inputSplit[1].trim() : "",
              placeholder =
                inputType == "text"
                  ? inputValues
                  : `Select one${inputType == "menu-multi" ? " or more" : ""}`,
              options = ["menu", "menu-multi"].includes(inputType)
                ? inputValues.split(",").map((v) => v.trim())
                : ["", ""];
            console.log(inputType);
            if (inputType == "signature") {
              this.$set(this.template, "hasSignature", true);
            } else {
              fixedFields.push({
                textBefore,
                textAfter: "",
                placeholder,
                type: ["menu", "menu-multi"].includes(inputType)
                  ? "menu"
                  : "text",
                fieldType: ["menu", "menu-multi"].includes(inputType)
                  ? "menu"
                  : "text",
                menuOptions: options,
                allowMultiple: inputType == "menu-multi",
                value: "",
                tempValue: "",
                menuOpened: false,
                showBefore: false,
                showAfter: false,
                showInput: false,
                error: "",
              });
            }
          } else {
            others.push(field);
          }
        });
        if (others.length == 1) {
          // Exactly One
          fixedFields[fixedFields.length - 1].textAfter = others[0];
        }
        // console.log("fixedFields");
        // console.log(fixedFields);
        // console.log("others");
        // console.log(others);
        fixedFields.forEach((field) => {
          this.$set(this.template.fields, this.template.fields.length, field);
        });
        this.$set(this.activeField, "stringContent", "");
      }
    },
    rePreview() {
      this.template.fields.forEach((b) => {
        b.showBefore = false;
        b.showInput = false;
        b.showAfter = false;
        b.value = "";
        b.tempValue = "";
        b.menuOpened = false;
      });
      let intval = setInterval(() => {
        this.stepForward(true, true, "start");
        clearInterval(intval);
      }, 500);
    },
    deleteBlock() {
      let index = this.activeField.inEdit;
      this.template.fields.splice(index, 1);
      this.closeModal();
      this.rePreview();
    },
    selectOption(option, block, index, deleteTempValue = true) {
      const fieldType = block.fieldType;
      if (fieldType) {
        switch (fieldType) {
          case "email": {
            const emailValidator = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
            if (!emailValidator.test(option)) {
              block.error = "Email address in not correct";
              return;
            }
            break;
          }
        }
      }
      if (option && option.trim() && option.trim().length > 0 && block) {
        block.error = "";
        option = option.trim();
        if (block.type == "menu" && block.allowMultiple) {
          if (deleteTempValue) {
            block.tempValue = "";
            this.stepForward(index, block, "next");
            block.menuOpened = false;
          } else {
            block.value =
              !block.value || !Array.isArray(block.value) ? [] : block.value;
            if (block.value.includes(option)) {
              let indexToRemove = block.value.indexOf(option);
              block.value.splice(indexToRemove, 1);
            } else {
              block.value = [...block.value, option];
            }
          }
        } else {
          block.value = option;
          if (deleteTempValue) {
            block.tempValue = "";
          }
          this.stepForward(index, block, "next");
          block.menuOpened = false;
        }
      } else {
        block.error = "Field is required";
      }
    },
    selectFieldOption(field, option) {
      this.$set(this.activeField.data, "fieldType", option.value);
      this.$set(
        this.activeField.data,
        "type",
        option.type ? option.type : "text"
      );
      this.$set(
        this.activeField.data,
        "allowMultiple",
        option.allowMultiple ? true : false
      );
      field.menuOpened = false;
    },
    openSelectField(field) {
      field.menuOpened = true;
    },
    stepForward(index, block, key) {
      if (this.template.fields && this.template.fields.length > 0) {
        if (key && block && (index || index === 0)) {
          switch (key) {
            case "start":
              this.$set(this.template.fields[0], "showBefore", true);
              break;
            case "before":
              block.showInput = true;
              break;
            case "input":
              block.showAfter = true;
              this.openOptionsMenu(index, block);
              break;
            case "after":
              // block.menuOpened = true;
              break;
            case "next":
              if (index + 1 < this.template.fields.length) {
                this.$set(this.template.fields[index + 1], "showBefore", true);
              }
              break;
          }
        }
      }
    },
    openOptionsMenu(i, block) {
      block.menuOpened = true;
      if (block.type == "text") {
        block.tempValue = block.value;
      }
      let intval = setInterval(() => {
        if (["text", "menu", "menu-multi"].includes(block.type)) {
          const optionsBtn = this.$refs[`btn_options_${i}`]
            ? this.$refs[`btn_options_${i}`][0]
            : null;
          if (optionsBtn) {
            optionsBtn.parentNode.children[1].children[0].children[0].children[0].children[0].focus();
          }
        }
        if (block.type == "signature") {
          const signature = this.$refs[`signature_${i}`];
          if (signature && signature[0]) {
            if (!block.value) {
              signature[0].draw();
            }
          }
        }
        clearInterval(intval);
      }, 100);
    },
    isChildOf(el, parentClass) {
      let isChild = false;
      if ([...el.classList].includes(parentClass)) {
        isChild = true;
      }
      while ((el = el.parentNode)) {
        if (el && el.classList && [...el.classList].includes(parentClass)) {
          isChild = true;
        }
      }
      return isChild;
    },
    setDocumentClickHandler() {
      let parentClass = "menu-body";
      document.addEventListener("mouseup", (e) => {
        if (
          ![...e.target.classList].includes(parentClass) &&
          !this.isChildOf(e.target, parentClass)
        ) {
          this.template.fields.forEach((b) => {
            b.menuOpened = false;
          });
          this.activeField.fields.forEach((f) => {
            if (f.menuOpened) {
              f.menuOpened = false;
            }
          });
          this.$set(this.options, "downloadAvailable", false);
        }
      });
    },
    closeAllFields(withFields = false) {
      this.template.fields.forEach((b) => {
        if (b.menuOpened) {
          b.menuOpened = false;
        }
      });
      if (withFields) {
        this.activeField.fields.forEach((f) => {
          if (f.menuOpened) {
            f.menuOpened = false;
          }
        });
      }
    },
    addField(index) {
      if (index || index === 0) {
        let block = { ...this.template.fields[index] };
        this.$set(this.activeField, "data", block);
        this.$set(this.activeField, "inEdit", index);
      } else {
        this.$set(this.activeField, "data", { ...this.activeField.dataBackup });
        this.$set(this.activeField, "inEdit", null);
      }
      this.$set(this.modals, "options", true);
    },
    downloadJSONTemplate() {
      const exportObj = { ...this.template };
      exportObj.signature = "";
      const emptyFields = [];
      exportObj.fields.forEach((field) => {
        const f = { ...field };
        f.value = "";
        f.tempValue = "";
        f.menuOpened = false;
        f.showBefore = false;
        f.showAfter = false;
        f.showInput = false;
        f.error = "";
        emptyFields.push(f);
      });
      exportObj.fields = emptyFields;
      const exportName = `auto-filler-${exportObj.fields.length}-fields${
        exportObj.hasSignature ? "-with-signature" : ""
      }`;
      const dataStr =
        "data:text/json;charset=utf-8," +
        encodeURIComponent(JSON.stringify(exportObj));
      const downloadAnchorNode = document.createElement("a");
      downloadAnchorNode.setAttribute("href", dataStr);
      downloadAnchorNode.setAttribute("download", exportName + ".json");
      downloadAnchorNode.style.display = "none";
      document.body.appendChild(downloadAnchorNode);
      downloadAnchorNode.click();
      document.body.removeChild(downloadAnchorNode);
      if (downloadAnchorNode) {
        downloadAnchorNode.remove();
      }
      this.$set(this.options, "downloadAvailable", false);
    },
    downloadVueComponent() {
      const exportObj = { ...this.template };
      exportObj.signature = "";
      const emptyFields = [];
      exportObj.fields.forEach((field) => {
        const f = { ...field };
        f.value = "";
        f.tempValue = "";
        f.menuOpened = false;
        f.showBefore = false;
        f.showAfter = false;
        f.showInput = false;
        f.error = "";
        emptyFields.push(f);
      });
      exportObj.fields = emptyFields;
      const stringifyObj = JSON.stringify(exportObj);
      let exportText = `${exportStart}${stringifyObj}${exportEnd}`;
      const exportName = `auto-filler-${exportObj.fields.length}-fields${
        exportObj.hasSignature ? "-with-signature" : ""
      }`;
      const dataStr =
        "data:text/json;charset=utf-8," + encodeURIComponent(exportText);
      const downloadAnchorNode = document.createElement("a");
      downloadAnchorNode.setAttribute("href", dataStr);
      downloadAnchorNode.setAttribute("download", exportName + ".vue");
      downloadAnchorNode.style.display = "none";
      document.body.appendChild(downloadAnchorNode);
      downloadAnchorNode.click();
      document.body.removeChild(downloadAnchorNode);
      if (downloadAnchorNode) {
        downloadAnchorNode.remove();
      }
      this.$set(this.options, "downloadAvailable", false);
    },
    saveBlock() {
      let indexInEdit = this.activeField.inEdit;
      this.$set(this, "errorMsg", "");
      let {
        textBefore,
        textAfter,
        placeholder,
        type,
        fieldType,
        menuOptions,
        allowMultiple,
        value,
        tempValue,
        menuOpened,
        showBefore,
        showAfter,
        showInput,
        error,
      } = this.activeField.data;
      if (!placeholder) {
        // Show Error
        this.$set(this, "errorMsg", "Placeholder should not be empty");
        return;
      }
      if (!type) {
        // Show Error
        this.$set(this, "errorMsg", "Please select a type");
        return;
      }
      if (
        type == "menu" &&
        menuOptions.filter((m) => m && m.length > 0).length < 2
      ) {
        // Show Error
        this.$set(
          this,
          "errorMsg",
          "The minimum menu options count is 2, Please provide at least 2 options"
        );
        return;
      }
      // We are good to go
      this.$set(
        this.template.fields,
        indexInEdit || indexInEdit === 0
          ? indexInEdit
          : this.template.fields.length,
        {
          textBefore,
          textAfter,
          placeholder,
          type,
          fieldType,
          menuOptions,
          allowMultiple,
          value,
          tempValue,
          menuOpened,
          showBefore,
          showAfter,
          showInput,
          error,
        }
      );
      this.closeModal();
      // if (indexInEdit || indexInEdit === 0) {
      // Do nothing
      // } else {
      // let intval = setInterval(() => {
      //   this.stepForward(this.template.fields.length - 2, true, "next");
      //   clearInterval(intval);
      // }, 100);
      // }
      this.rePreview();
    },
    addMenuOption() {
      this.activeField.data.menuOptions.unshift("");
    },
    deleteMenuOption(index) {
      if (index || index === 0) {
        this.activeField.data.menuOptions.splice(index, 1);
      }
    },
    closeModal(modal = "options") {
      this.$set(this.modals, modal, false);
    },
  },
};
</script>

<style lang="scss">
.auto-filler {
  pre:not(.pre) {
    white-space: initial;
  }
  input[type="radio"],
  input[type="checkbox"]:not(.like-radio) {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    & + label div.checkbox {
      transform: translate(-3px, 2px);
    }
    &:checked {
      & + label {
        border-color: rgba(79, 70, 229, 1);
        div.checkbox {
          background-color: rgba(79, 70, 229, 1);
        }
      }
    }
  }
  input[type="checkbox"].like-radio {
    --active: rgba(79, 70, 229, 1);
    --active-inner: #fff;
    --focus: 2px rgba(79, 70, 229, 0.4);
    --border: #bbc1e1;
    --border-hover: rgba(79, 70, 229, 1);
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    width: 44px;
    border-radius: 11px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 24px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    &:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
        opacity var(--d-o, 0.2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: 0.3s;
      --d-t: 0.6s;
      --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
    &:after {
      left: 3px;
      top: 3px;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
    }
    &:checked {
      --ab: var(--active-inner);
      --x: 19px;
    }
    &:disabled {
      &:not(:checked) {
        &:after {
          opacity: 0.6;
        }
      }
    }
  }
  .center-right-absolute {
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
  }
  .center-vertical {
    left: 50%;
    transform: translate(-50%, 0);
  }
  .center-vertical-right {
    right: 0;
  }
  .left-vertical-left {
    left: 0;
  }
  .menu-items-container {
    max-height: 250px;
    overflow-y: scroll;
  }
  .field-disabled {
    pointer-events: none;
    label {
      color: #aaa;
    }
    input {
      background-color: #eee;
      color: #888;
    }
  }
}
</style>
