<template>
  <div class="bg-gray-100 rounded px-4 py-6">
    <div>
      <h3 class="text-xl font-medium leading-6">Testing Auto Filler</h3>
    </div>
    <div>
      <auto-filler
        finish-text="Send to database"
        class="bg-white mt-7 p-4"
        :return-full-json="false"
        :activate-btn-after-fill-all="false"
        @finish="sendForm"
      ></auto-filler>
    </div>
  </div>
</template>

<script>
export default {
  name: "AutoFillerInAction",
  components: {
    AutoFiller: () => import("@/components/auto-filler.vue"),
  },
  data: () => ({}),
  methods: {
    sendForm(vals) {
      // Send vals to database
      console.log(vals);
    },
  },
};
</script>
